<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Change Password Form</title>
</head>
<body>
<section>
    <!--    <hgroup>-->
    <!--        <h2>Welcome back!</h2>-->
    <!--        <p>Please enter your details to sign into your account</p>-->
    <!--    </hgroup>-->
    <div class="container">
        <!--        email form|-->
        <h3>Enter New Password</h3>
        <form action="" method="post" th:action="@{/change-password}">
            <div class="form-group">
                <input required="required" type="text" name="new_password" placeholder="Enter new password here " class="form-control">
            </div>
            <div class="container text-center">
                <button class="btn btn-success">Change Password</button>
            </div>
        </form>
    </div>



</section>
</body>
</html>