<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
<div class="full-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card">
<!--                    alert-->
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <h1 class="text-center">Register Here</h1>
                    <form action="" th:action="@{/register}" method="post" th:object="${user}">
                    <!--           Name Field             -->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input type="text" class="form-control" id="name_field" name="name"
                                   aria-describedby="emailHelp" placeholder="Enter Here" required th:value="${user.name}">
                        </div>
                        <!--           email Field             -->
                        <div class="form-group">
                            <label for="email_field">Your Email</label>
                            <input type="email" class="form-control" id="email_field" name="email"
                                   aria-describedby="emailHelp" placeholder="Enter Here" required th:value="${user.email}">
                        </div>
                        <!--           password Field             -->

                        <div class="form-group">
                            <label for="password_field">Your Password </label>
                            <input type="password" class="form-control" id="password_field" name="password"
                                   aria-describedby="emailHelp" placeholder="Enter Here" required th:value="${user.password}">
                        </div>
<!--                        User About Field -->
                        <div class="form-group">
                            <textarea  placeholder="Description" name="about" th:value="${user.about}"
                                      rows="7" class="form-control"></textarea>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary text-white">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-warning text-white">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>